{% extends 'base.html' %}



{% block title %}пароль изменен{% endblock %}

{% block content %}
    <div class='container'>
        <div class="card white-text mt-3">
            <div class="card-body">
                <h5 class="card-title">Восстановление пароля завершено</h5>
                <p class="card-text">Ваш пароль сохранен. Теперь вы можете войти.</p>
                <a href="{% url 'login' %}" class="btn w-100 btn-outline-primary rounded">Авторизоваться</a>
            </div>
        </div>
    </div>
{% endblock %}
