

{% autoescape off %}
    <div style="margin-left: auto; margin-right: auto; border: 1px blueviolet solid; border-radius: 10px; width: 80%; height: auto; padding: 4%; text-align: justify; max-width: 500px;">
        <h2 style="text-align: center; margin-top: 0;">Ay222</h2>
        <hr style="border: 1px rgba(137, 43, 226, 0.466) solid;">
        <h4 style="margin-top: 0;">
            Вы получили это письмо, поскольку запросили сброс пароля для своей учетной записи на сайте
            <a style="text-decoration: none; color: rgb(137, 43, 226);" href="{{ site_name }}">DJAuth</a>.
        </h4>
        <p style="margin-top: 0;">Пожалуйста, перейдите на следующую страницу и выберите новый пароль:
            {% block reset_link %}
                <a style="text-decoration: none; color: rgb(137, 43, 226);" href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
                    Изменить пароль
                </a>
            {% endblock %}
        </p>
        <p style="font-size: 14px;">
            Ваше имя пользователя, если вы забыли: {{ user.get_username }}.
            Спасибо за использование нашего сайта!
        </p>

        <div class="text-align: center;"><i>The {{ site_name }} team</i></div>

    </div>
{% endautoescape %}
