{% extends 'base.html' %}



{% block title %}Письмо отправлено{% endblock %}

{% block content %}
    <div class="container">
        <div class="card mt-3 white-text">
            <div class="card-body">
                <h5 class="card-title">Письмо отправлено</h5>
                <p class="card-text"> 
                    Мы отправили вам инструкции по установке нового пароля на указанный вами адрес электронной почты.
                    Вы должны получить его в ближайшее время.
                    Если вы не получили электронное письмо, обязательно введите адрес электронной почты, под которым вы зарегистрировались, и проверьте папку со спамом.
                </p>
                <h6 class="card-subtitle text-muted"><i>Вы можете закрыть эту вкладку</i></h6>
                <a href="/" class="mt-3 btn btn-outline-primary w-100 rounded">На главную</a>
            </div>
        </div>
    </div>
{% endblock %}
