<footer>
    <nav class="footer__nav d-flex justify-content-center pt-2 pb-2">
        <div class="container d-flex flex-wrap gap-4">
            <div class="d-flex flex-column">
                <p class="text-white mb-2 border-bottom pb-1">Навигация по сайту</p>
                <ul class="d-flex flex-column gap-1 p-0 m-0">
                    <a class="text-decoration-none text-primary" href="{% url 'about' %}">О нас</a>
                    <a class="text-decoration-none text-primary" href="{% url 'shop' %}">Магазин</a>
                    <a class="text-decoration-none text-primary" href="{% url 'partner' %}">Наши партнеры</a>
                </ul>
            </div>

            <div class="d-flex flex-column">
                <p class="text-white mb-2 border-bottom pb-1">Контакты</p>
                <ul class="d-flex flex-column gap-1 p-0 m-0">
                    <a class="text-decoration-none text-primary" href="mailto:sportstyle44@mail.ru" class="">SportStyle44@mail.ru</a>
                    <a class="text-decoration-none text-primary" href="tel:+79991234567" class="">+7 999 123-45-67</a>
                </ul>
            </div>
        </div>
    </nav>
</footer>
