.dropdown-menu-dark {
    background-color:#212529;
    border-top: none;
}

.nav-login{
    text-decoration: none;
    color: #FFF;
}

.user__nav > a.btn.dropdown-toggle {
    max-width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    margin-left: 10px;
}