body {
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100%;
    height: auto;
}

.page-body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-content: start;
}

.container {
    max-width: 1300px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
