{% extends 'base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static '/company/css/about.css' %}">
{% endblock %}

{% block title %}О нас{% endblock %}
{% block content %}

<!--  определения спротстайл   -->
<section class="about__title__header mt-4">
  <p>Спортстайл — это доступ в мир спорта с рекордным  ассортиментом! Это настоящий бренд-эксперт в спорте и 
        активном отдыхе, который вдохновляет своихпокупателей, мотивирует их и помогает регулярно 
        заниматься спортом, чтобы радоваться жизни и менять 
        себя к лучшему день за днем!
  </p>
</section>
        
  <!-- с чего наченалось -->
  <section class="about__container mt-4">
    <div class="about__title mt-4">
      <h2>С ЧЕГО ВСЕ НАЧАЛОСЬ?</h2>
      <p>Первый магазин сети открылся в 1995 году. С тех пор нашей <br/>главной и неустанной заботой является удовлетворенность <br/>потребителей качеством,
      разнообразием и доступностью<br/> наших товаров и сервисов.</p>
    </div>
      <div class="about__title">
        <img src="../../static/company/images/about/about-9.webp" width="690" height="390" alt="фото магазина" style="object-fit: cover;">
      </div>
    </div>
  </section>
<!-- Наша миссия  -->

<section class="about__container__1 mt-5">
  <div class="about__container_2">
    <img src="../../static/company/images/about/mission.jpg" width="1110" height="649" alt="фото магазина" style="object-fit: cover;">
  </div>
    <div class="about__block">
      <h2 class="about__block__h2">КАКОВА НАША МИССИЯ?</h2>
    
    <div class="about__block__f">
      <p>Развивать успешный бизнес,</p>
    </div>
    <p class="about__block__p">всегда предлагая клиентам оптимальный ассортимент качественных<br/> 
      товаров для спорта и активного отдыха при оптимальном уровне<br/> 
      сервиса в соответствии с изменяющимися потребностями клиентов.
    </p>

      <div class="about__block__f">
        <p>Способствовать оздоровлению нации,</p>
      </div>
      <p class="about__block_p">продвигая ценности здорового образа жизни, спорта и активного<br/> 
      отдыха, улучшая качество жизни наших клиентов.</p>
     
  </div>
</section>
<!-- НАши проекты  -->
<section class="about__container__2 mt-5">
  <div class="about__head">
    <h2>Наши проекты</h2>
  </div>
    <div class="about__container_3">
      <a href="https://urbanvibes.com/" class="about__link" target="_blank">
        <img src="../../static/company/images/about/about-11.jpg" width="503" height="503" alt="URBAN VIBES фото" style="object-fit: cover;">
          <div class="about__link__over">
            <p>URBAN VIBES</p>
          </div>
      </a>
        <a href="https://www.demix.ru/" class="about__link" target="_blank">
          <img src="../../static/company/images/about/about-12.jpg" width="503" height="503" alt="DEMIX фото" style="object-fit: cover;">
            <div class="about__link__over">
              <p>DEMIX</p>
            </div>
        </a>
          <a href="https://columbia.ru/" class="about__link" target="_blank">
            <img src="../../static/company/images/about/about-13.jpg" width="503" height="503" alt="COLUMBIA фото " style="object-fit: cover;">
              <div class="about__link__over">
                <p>Columbia</p>
              </div>
    </div>
          </a>
</section>

<section class="projects">
  <div class="wrapper mt-5">
    <h2>Наши проекты</h2>
      <a href="/company/partners/" class="project_link">
        <p class="project_link_text"> Подробнее </p>
      </a>
  </div>
</section>

<section class="about__container__3 mt-5">
  <div class="about__container_4">
    <div class="about__block__head">
      <img src="../../static/company/images/about/about-10.png" width="780" height="500" alt="все бренды фото " style="object-fit: cover;">
   
        <div class="about__block-link">
          <img src="../../static/company/images/about/about-1.png" width="680" height="400" alt="все бренды фото " style="object-fit: cover;">
        </div>
      </div>
  </div>
</section>
        
        
        



















        <!-- Все бренды -->

      

         

{% endblock %}


