{% extends 'base.html' %}
{% load static %}

{% block title %}Обувь{% endblock %}
{% block content %}

{% endblock %}

<div class="sm-page-title__content">
    <h1 class="sm-text sm-text--h2 sm-text--medium">Обувь </h1>
    <span class="sm-text sm-catalog__title__product-count sm-text--text-14 sm-text--medium">Количество товара</span>
</div>

<!-- Рааздел товара -->
<div class="sm-product-grid sm-product-grid--size-xs">
    <div class="sm-product-card__image-holder">
        <a href="" class="sm-hover-gallery sm-product-card__image-wrapper">
            <div class="sm-product-card__image-holder">
                
            </div>
        </a>
    </div>
</div>
