{% extends 'base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static '/company/css/partner.css' %}">
{% endblock %}
{% block title %}Наши партнеры{% endblock %}
{% block content %}

<section class="partner__title">
    <div class="partner__tittle-wrapper">
        <h1 class="partner__title-header">НАШИ <br/>ПАРТНЕРЫ</h1>
        <p class="partner__subtitle">
        Мы создаем и развиваем наши проекты, чтобы вы всегда могли найти то, что <br/>нужно. 
        Еще больше стильных новинок и технологичных моделей <br/> на официальных сайтах ваших любимых брендов.
        </p>
    </div>
</section>

<div class="container mt-5">
    <section class="partner__section">
        <div class="partner__photo-left">
            <img src="../../static/company/images/partner/partner-1.jpg" width="904" height="594" alt="URBAN VIBES фото" style="object-fit: cover;">
        </div>
        <div class="partner__manifest-right">
            <h2 class="">URBAN VIBES</h2>
            Urban Vibes — cеть сникерсторов на стыке культуры и музыки.<br/><br/>
            Здесь вы найдете кроссовки, одежду и аксессуары от мировых брендов. Мы за тех, кто умеет стоять на своем. 
            И за тех, кто умеет постоять за своих — за друзей, комьюнити, улицу. Мы отстаиваем то, что нас вдохновляет: 
            актуальные кроссовки и уличный стиль. И мы знаем этому цену..<br/><br/>
            Urban Vibes. Будь настоящим.
            <div class="box-3">
                <div class="btn btn-three">
                  <span>Перейти на сайт<a href="https://urbanvibes.com/?utm_source=sportmaster&utm_medium=sm_site&utm_campaign=sm_100822&utm_content=news1060654_urbanvibes"> </a></span>
                </div>
              </div>
                    
        </div>
    </section>



    <div class="container mt-5">
        <section class="partner__section">
            <div class="partner__manifest-left">
                <h2 class="">DEMIX</h2>
                Наша первая коллекция увидела свет в 2008 году. С тех пор мы стремимся к тому, чтобы вы испытывали радость от занятий спортом. 
                Мы производим инновационную и технологичную, но при этом доступную продукцию, которая сделает вашу тренировку комфортнее, и неважно, где она проходит.<br/><br/>
                Потому что спорт там, где ты.<br>
                <div class="box-3">
                    <div class="btn btn-three">
                      <span>Перейти на сайт<a href="https://www.demix.ru/?utm_source=sportmaster&utm_medium=sm_site&utm_campaign=sm_100822&utm_content=news1060654_demix"> </a></span>
                    </div>
                  </div>
            </div>
    <div class="partner__photo-right">
        <img src="../../static/company/images/partner/partner-2.jpg" width="904" height="594" alt="DEMIX фото" style="object-fit: cover;">
            </div>
        </section>
    </div>

    <!--/*Колумбия*/ -->
    <div class="container mt-5">
        <section class="partner__section">
            <div class="partner__photo-left">
                <img src="../../static/company/images/partner/partner-3.jpg" width="904" height="594" alt="COLUMBIA фото" style="object-fit: cover;">
            </div>
    <div class="partner__manifest-right">
        <h2 class="">COLUMBIA</h2>
    Уже больше 80 лет компания Columbia Sportswear занимается производством одежды для людей, любящих активно проводить время на природе.<br/><br/>
    Columbia продолжает создавать одежду, обувь и аксессуары, чтобы вы чувствовали себя комфортно в любую погоду, несмотря ни на что. Инновационной подход,
    мятежный дух и сплоченный семейный бизнес — вот главные отличия от конкурентов.<br>
        <div class="box-3">
            <div class="btn btn-three">
                <span>Перейти на сайт<a href="https://columbia.ru/?utm_source=sportmaster&utm_medium=sm_site&utm_campaign=sm_100822&utm_content=news1060654_columbia"> </a></span>
            </div>
        </div>
</div>
</section>
{% endblock %}