{% extends 'base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static '/company/css/shop.css' %}">
{% endblock %}

{% block title %}Магазин{% endblock %}

{% block content %}
  <section>
    <h1 class="shop-title mt-4"> Магазин в г. Кострома</h1>
    <ul class="shop-info__list d-flex mt-4">
        <li>
            <h3>Супермаркет</h3>
            <p>
                Товары для спорта и активного отдыха для всей семьи
            </p>
        </li>
        <li>
            <h3>Гипермаркет</h3>
            <p>
                Товары для спорта и активног отдыха для всей семьи. Магазины с максимальной площадью
            </p>
        </li>
        <li>
            <h3>PRO</h3>
            <p>
                Расширенный ассортимент товаров и брендов для спорта. PRO-эксперты. PRO-сервисы
            </p>
        </li>
        <li>
            <h3>Дисконт</h3>
            <p>
                Товары известных брендов для спорта и активного отдыха со скидками
            </p>
        </li>
    </ul>
  </section>

  <section class="shop-address__section d-flex">
    <div>
        <h2>Спортстайл</h2>
        <p>
            г.Кострома Индустриальная улица, 16, Кострома, 156016
        </p>
        <p>Ежедневно с 10:00  до 22:00</p>
        <p>+7(495)123-45-67</p>
    </div>
    <img src="../../static/company/images/shop/shop.png" width="850" height="500" alt="Фото магазина на карте">
  </section>
{% endblock %}


