.mission-text {
    position: absolute;
    width: 50%;
}

.brands-photo{
    position: absolute;
    width: 50%;
    
}

@media (max-width: 785px) {
    .mission-text {
        position: static;
        width: 100%;
    }

    .mission-photo {
        display: none;
    }

    .projects-wrapper {
        max-width: calc(100vw - calc(var(--bs-gutter-x)));
        overflow-x: scroll;
    }

    .projects a {
        min-width: 270px;
        min-height: 270px;
    }

    .fon-photo{
        display: none;
    }

    .brands-photo{
        position: static;
        width: 100%;
    }
}