:root {
    --white: #ffffff
}

body {
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 1199px) {

    nav.bg-dark {
        width: 104%;
    }

    nav.footer__nav {
        padding-left: 367px;
        padding-right: 305px;
        width: 104%;
        background-color: #212529;
        font-size: 20px;
    }

    section.partner__title {
        height: 990px;
        width: 103%;
    }

 div.partner__photo-left img {
    max-width: 100%;
    margin-left: -4;
    height: auto;
    display: block;
    }

 div.partner__manifest-right{
    font-size: 16px;
    line-height: 23px;
    left: 108px;
    top: -1%;
    margin:-32px 51px -87px 0px;
    }

}   

@media (max-width: 990px) {

    nav.bg-dark {
        width: 113%;
    }

    nav.footer__nav {
        padding-left: 367px;
        padding-right: 305px;
        width: 113%;
        background-color: #212529;
        font-size: 18px;
    }


 div.partner__photo-left img {
    max-width: 100%;
    height: auto;
    display: block;
    }

    div.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
     width: 95%;
    }

    div.partner__manifest--right {
        font-size: 16px;
        line-height: 23px;
        left: 79px;
        top: 12%;
        margin: -33px -63px 42px -24px;
    }

    div.partner__photo--left img {
        max-width: 100%;
        height: auto;
        display: block;
        }

    div.partner__manifest-right {
        font-size: 16px;
        line-height: 23px;
        left: 79px;
        top: 12%;
        margin: -33px -63px 42px -24px;
    }

    div.partner__photo-right img {
        max-width: 117%;
        margin-left: -13%;
        margin-top: 5%;
        height: auto;
        display: block;
    }


    div.c {
        font-size: 16px;
        line-height: 21px;
        left: -119px;
        top: -3%;
        margin: 3px -120px 0px 0px;
    }

    div.partner__manifest--left {
        font-size: 16px;
        line-height: 21px;
        left: -119px;
        top: -3%;
        margin: 3px -120px 0px 0px;
    
    }
    
    h1.partner__title-header {
        margin-top: -15%;
        margin-left: -5%;
    }

    p.partner__subtitle {
        margin-left: -5%;
    }

    section.partner__title {
        height: 562px;
        width: 113%;
    }

    section.mt-4 {
        margin-top: -2.5rem!important;
    }

}
@media (max-width: 820px) {
    h1.partner__title-header {
        margin-top: -15%;
        margin-left: -6%;
    }

    p.partner__subtitle {
        font-size: 16px;
        margin-left: -6%;
    }

}

@media (max-width: 815px) {

    section.partner__title {
        width: 113%;
    }

    nav.bg-dark {
        width: 113%;
    }
}


@media (max-width: 767px) {

    section.mt-5 {
        margin-top: 9rem!important;
    }

    section.partner__section {
        margin-bottom: 190px;
    }

    div.partner__photo-left img {
        max-width: 102%;
        margin-left: -3%;
        height: auto;
        display: block;
    }

    div.partner__manifest-right {
        font-size: 16px;
        line-height: 23px;
        left: -19px;
        top: 42%;
        margin: -32px -90px 0px -49px;
    }

    div.partner__manifest-left {
        font-size: 16px;
        line-height: 21px;
        left: -21px;
        top: 44%;
        margin: 3px -120px 0px 0px;
    }

    div.partner__photo-right img {
        max-width: 108%;
        margin-left: -3%;
        margin-top: 11%;
        height: auto;
        display: block;
    }

    nav.bg-dark {
        width: 113%;
    }

    div.mt-5 {
        margin-top: 5rem!important;
    }

    div.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
        max-width: 92%;

    }

    section.partner__title {
        height: 557px;
        width: 113%;
    }

    h1.partner__title-header {
        margin-top: -20%;
        margin-left: -6%;
    }

    p.partner__subtitle {
        margin-left: -6%;
        font-size: 16px;
    }

    div.partner__photo--left img {
        max-width: 148%;
        margin-left: -5%;
        height: auto;
        display: block;
    }

    div.partner__manifest--right {
        font-size: 16px;
        line-height: 23px;
        left: -19px;
        top: 42%;
        margin: -32px -90px 0px -49px;
    }

}
@media (max-width: 640px) {


    div.partner__photo-right img {
        max-width: 100%;
        margin-left: 12%;
        margin-top: -3%;
        height: auto;
        display: block;
    }


    div.partner__photo-left {
        width: 91%;
        margin-left: 61px;
        top: -5%;
        position: relative;
        overflow: hidden;
        grid-column: 1 / 9;
        grid-row: 1 / 2;
    }

    div.partner__manifest-right {
        position: relative;
        overflow: hidden;
        top: 72%;
        left: 9%;
        grid-column: 1 / 7;
        grid-row: 1 / 2;
        margin: -84px -19px 70px;
    }

    div.partner__photo--left {
        width: 90%;
        top: 45%;
        margin-left: 77px;
        position: relative;
        overflow: hidden;
        grid-column: 1 / 9;
        grid-row: 1 / 2;
    }

    

    div.partner__manifest--right {
        position: relative;
        overflow: hidden;
        top: 129%;
        left: 10%;
        grid-column: 1 / 7;
        grid-row: 1 / 2;
        margin: -84px -54px 70px;
    }
   
    div.partner__manifest-left {
        width: auto;
        grid-column: 1 / 7;
        grid-row: 1 / 2;
        margin: 0;
        left: 13%;
        margin: -84px -46px 70px;
        top: 80%;
    }

    div.partner__photo-right {
        width: 115%;
        margin-left: -7%;
        margin-top: 20%;
        overflow: hidden;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }

    h1.partner__title-header {
        margin-top: -10%;
        margin-left: -8%;
        font-size: 69px;
        line-height: 78px;
        letter-spacing: 8px;
    }
    
    p.partner__subtitle {
        margin-left: -7%;
        font-size: 16px;
    } 

    section.partner__title {
        height: 599px;
        width: 113%;
    }

    nav.bg-dark {
        width: 113%;
    }

    section.partner__section {
        margin-bottom: 69%;
    }


    section.mt-5 {
        margin-top: -39rem!important;
    }

}

@media (max-width: 572px) {

    div.partner__photo-left {
        width: 91%;
        top: -2%;
        position: relative;
        overflow: hidden;
        grid-column: 1 / 9;
        grid-row: 1 / 2;
        left: 4%;
    }

    div.partner__manifest-right {
        position: relative;
        overflow: hidden;
        top: 94%;
        left: 12%;
        grid-column: 1 / 7;
        grid-row: 1 / 2;
        margin: -84px 59px 70px;
    }


    div.partner__photo--left {
        width: 91%;
        top: 29%;
        position: relative;
        overflow: hidden;
        grid-column: 1 / 9;
        grid-row: 1 / 2;
        left: 3%;
    }

    div.partner__manifest--right {
        position: relative;
        overflow: hidden;
        top: 119%;
        left: 18%;
        grid-column: 1 / 7;
        grid-row: 1 / 2;
        margin: -84px 11px 70px;
    }
   
    div.partner__manifest-left {
        width: auto;
        grid-column: 1 / 7;
        grid-row: 1 / 2;
        left: 14%;
        margin: -84px 45px 70px;
        top: 86%;
    }

    div.partner__photo-right {
        width: 103%;
        margin-left: -2%;
        margin-top: 20%;
        overflow: hidden;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }

    h1.partner__title-header {
        margin-top: -19%;
        margin-left: -10%;
        font-size: 69px;
        line-height: 78px;
        letter-spacing: 8px;
    }
    
    p.partner__subtitle {
        margin-left: -10%;
        font-size: 11px;
    } 

    section.partner__title {
        height: 468px;
        width: 114%;
    }

    nav.footer__nav {
        padding-left: 367px;
        padding-right: 305px;
        width: 114%;
        background-color: #212529;
        font-size: 18px;
    }

    nav.bg-dark {
        width: 114%;
    }

    section.partner__section {
        margin-bottom: 69%;
    }


    section.mt-5 {
        margin-top: -30rem!important;
    }


}
/* телефон  */
@media (max-width: 418px) {

    nav.bg-dark {
        width: 127%;
    }


    nav.footer__nav {
        padding-left: 12px;
        width: 100%;
        padding-right: 4px;
        background-color: #212529;
        font-size: 10px;
    }


    section.partner__title {
        height: 468px;
        width: 100%;
    }

    div.partner__photo-right img {
        max-width: 60%;
        margin-left: 12%;
        margin-top: -3%;
        height: auto;
        display: block;
    }

    div.partner__manifest-right {
        position: relative;
        overflow: hidden;
        top: 72%;
        font-size: 16px;
        left: -4%;
        grid-column: 1 / 7;
        grid-row: 1 / 2;
        margin: -94px -33px -55px;
    }

    div.partner__photo-right {
        width: 133%;
        margin-left: -17%;
        margin-top: 145%;
        overflow: hidden;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }

    div.partner__photo-left {
        width: 75%;
        top: -35%;
        position: relative;
        overflow: hidden;
        grid-column: 1 / 9;
        grid-row: 1 / 2;
        left: -13%;
    }


    div.partner__manifest-left {
        width: auto;
        grid-column: 1 / 7;
        grid-row: 1 / 2;
        left: -8%;
        margin: -90px -25px 70px;
        top: 94%;
    }

    div.partner__photo--left img {
        max-width: 60%;
        margin-left: -5%;
        height: auto;
        display: block;
    }

    div.partner__photo--left {
        width: 136%;
        top: 123%;
        position: relative;
        overflow: hidden;
        grid-column: 1 / 9;
        grid-row: 1 / 2;
        left: -20%;
    }

    div.partner__manifest--right {
        position: relative;
        overflow: hidden;
        top: 220%;
        left: -2%;
        grid-column: 1 / 7;
        grid-row: 1 / 2;
        margin: -84px -44px 70px;
    }


    p.partner__subtitle {
        margin-left: -77%;
        font-size: 13px;
    }

    h1.partner__title-header {
        margin-top: -64%;
        margin-left: -65%;
        font-size: 30px;
        line-height: 45px;
        letter-spacing: 8px;
    }

    section.partner__section {
        margin-bottom: 1047px;
    }

    section.mt-5 {
        margin-top: -81rem!important;
    }



}

main.container {
    max-width: 100%;
    padding: 0;
}
/* наши партнеры */
.partner__title {
    height: 898px;
    background-image: url('../images/partner/partner-fon.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* тоже текст  */
.partner__title-header {
    font-style: italic;
    font-weight: 1000;
    font-size: 80px;
    line-height: 92px;
    letter-spacing: 11px;
    text-transform: uppercase;
    color: var(--white);
}
/* текст */
.partner__tittle-wrapper {
    padding-top: 342px;
    padding-left: 180px;

}
/* URBAN VIBES */
.partner__section {
    margin-bottom: 42px;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
}
/* Демикс  */
.partner__photo-left {
    width: 100%;
    position: relative;
    overflow: hidden;
    grid-column: 1 / 6;
    grid-row: 1 / 2;
}

.partner__manifest-right {
    grid-column: 4 / 8;
    grid-row: 1 / 2;
    position: relative;
    background-color: var(--white);
    padding: 39px 58px;
}
/* колумбия фото и текст  */
.partner__manifest--right {
    grid-column: 4 / 8;
    grid-row: 1 / 2;
    position: relative;
    background-color: var(--white);
    padding: 39px 58px;
}

.partner__photo--left {
    width: 100%;
    position: relative;
    overflow: hidden;
    grid-column: 1 / 6;
    grid-row: 1 / 2;
}


.partner__photo-right {
    width: 100%;
    overflow: hidden;
    grid-column: 3 / -1;
    grid-row: 1 / 2;
}

.partner__manifest-left {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    position: relative;
    background-color: var(--white);
    padding: 61.5px 58px;
}

.partner__subtitle{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0;
}
/* кнопка */
.btn-three {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
  }
  .btn-three::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.3s;
  }
  .btn-three:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
  }
  .btn-three::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(1.2,1.2);
  }
  .btn-three:hover::after {
    opacity: 1;
    transform: scale(1,1);
  }
  
  .btn {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: #fff;
    --bs-btn-bg: #011E4A;
    --bs-btn-border-width: var(--bs-border-width);
    --bs-btn-border-color: #011E4A;
    --bs-btn-border-radius: var(--bs-border-radius);
    --bs-btn-hover-border-color: #011E4A;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
  }