.idea
idea
.DS_Store

*.egg-info/
.installed.cfg
*.egg

dist

conf.txt
venv


prod_settings.py
local_settings.py

/migrations/
!/migrations
!/migrations/init.py
sportstyle//migrations/*
!sportstyle//migrations
!sportstyle//migrations/init.py

pycache/
*/pycache/
*.py[cod]
.pyc
.pyc

media/
!*media

log/debug.log

build
doc
home.rst
make.bat
Makefile

doc-dev