<!-- главая страница сайта -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Каталог{% endblock %}
{% block content %}

<title>SportStyle</title>
 
<style> 

{color: #FFFFFF}

</style>





    <div class="">

    


        <tr>
            <td width="127" height="88" bgcolor="#66FCF1"><img src="Фото/облошка.png" width="120" height="90" /></td>
            <td width="893" bgcolor="#66FCF1">Веб-консультант</td>
            <td width="205" bgcolor="#000000">Тел:+79002548090 E-mail:Consultant44@mail.ru</td>
          </tr>

        























        <tr>




<div><p>Мой Спортстайл</p></div>
            <div><p>Подарочные карты</p></div>
            <div><p>Личный кабинет</p></div>
            <div><p>Акции</p></div>
            <div><p>Статьи</p></div>
            <div><p>Тренировки</p></div>
            <div><p>Афиша</p></div>
            <div><p>Планета в твоих руках</p></div>

 <div align="center"><p>Помощь<p/>
    <div><p>Доставка и оплата</p></div>
    <div><p></p></div>
    <div><p></p></div>
    <div><p></p></div>
    <div><p></p></div>
    <div><p></p></div>
    

    







           
                    <td width="871" bordercolor="#000000" bgcolor="#000000"><div align="right">Служба связи</span></div></td>
          </tr>



          <tr>
            
            <td bordercolor="#000000" bgcolor="#000000"><div align="right"><span class="style2">Связаться со мной</span></div></td>
          </tr>
    </div>

{% endblock %}
