{% extends 'base.html' %}
{% load static %}
{% block title %}SportStyle - Каталог{% endblock %}
{% block content %}
<!-- Реклам на ссайте  -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="static\images\Baner-1.webp" width="1000" height="580" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="static\images\Baner-2.webp" width="1000" height="580" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="static\images\Baner-3.webp" width="1000" height="580" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<!-- В начале  -->
<div data-seleniun="commendations"class="Bestseller">
<h2 data-seleniun="block__title"class="sm__block__title">
  <span class="sm__text sm__text__h2 sm__text__medium">
    Хиты продаш
  </span>
</h2>
</div>
<!--  по середине  -->
<div data-seleniun="commendations"class="Bestseller">
<h2 data-seleniun="block__title"class="sm__block__title">
  <span class="sm__text sm__text__h2 sm__text__medium">
      ПОПУЛЯРНЫЕ ТОВАРЫ СО СКИДКАМИ
  </span>
</h2>
</div>

<!-- Нижние описание  -->
<div class="wrap">
<section class="slot__titel_container">
  <div class="slot__titel">Спортстайл 

  </div>
</section>
<section class="srol_1_content">
  <div class="stol_1_content_1">
  <picture>

    <source srcset="static\images\Photo-2.webp"  media="(max-width: 640px)">
    <img loading="lazy" src="static\images\Photo-1.jpg" width="" height="" alt="">

    </picture>
  </div>
  <div class="stol_1_content_2">
    <div class="stol_1_content_2_text">
      <div class="stol_1_content_2_text_adr">
        <a href="/company/shops/" class="stol_1_content_2_text_adr_t">
        Адрес нашего магазина
          </a>
      </div>
      <P class="stol_1_content_2_text_adr_d">
        Наши стандартные магазины, в которых есть все для спорта и активного</br> отдыха: от самых простых аксессуаров до технологичного снаряжения.
        </P>
      </div>
    </div>
      <div class="stol_1_content_3">
        <img loading="lazy" src="static\images\Photo-2.webp" width="" height="" alt="">
    </div>
</section>

<section class="bock__service mt-5">
<div class="service__txt__wrap">
  <div class="service__txt__h1">Доставка и оплата</div>
    <div class="service__txt_p">Оплата наличными курьеру или</br> банковской картой без комиссии</div>
</div>

<div class="service__txt__wrap">
  <div class="service__txt__h1">Условия возврата</div>
    <div class="service__txt_p">Быстрый возврат, если товар</br> не соответствует качеству</div>
</div>

<div class="service__txt__wrap">
  <div class="service__txt__h1">Гарантийное обслуживание</div>
    <div class="service__txt_p">На все товары, приобретенные в сети<br>СПОРТСТАЙЛ, распространяется срок<br> гарантии фирм-производителей.</div>
</div>
</section>

{% endblock %}
