{% extends 'base.html' %}
{% load static %}
 <link rel="stylesheet" href="{% static '/company/css/product.css' %}">
{% block title %}SportStyle - Каталог{% endblock %}
{% block content %}
    <div class="cards">
        <form method="get">
            {{ filter.form.as_p }}
            <input type="submit" />
        </form>
        <form method="get">
            <button>Отчистить</button>
        </form>

        {% if filter.qs %}
            {% for product in filter.qs %}
                <div class="card">
                    {{ product.title }}<br/>
                    {{ product.price }}P

                    <!-- карусель фото  -->
                    <div class="d-flex">

                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active"> 
                            {% if product.photos.all %}
                                {% for photo in product.photos.all %}
                                <img src="{{ photo.photo.url }}" width="200" height="200" alt="..." style="object-fit: cover;">
                                {% endfor %}
                            {% endif %}
                                    </div>
                              </div>
                              
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Предыдущий</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Следующий</span>
                            </button>
                          </div>
                       

                </div>
            {% endfor %}
        {% else %}
                <h2 style="text-align: center;">Ничего не найдено :(</div>
        {% endif %}
    </div>
{% endblock %}
