{% extends 'base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'goods/css/product.css' %}">
    <link rel="stylesheet" href="{% static 'fotorama/fotorama.css' %}">
{% endblock %}

{% block title %}SportStyle - Каталог{% endblock %}
{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'fotorama/fotorama.js' %}"></script>

    <div class="cards__container">
        <section class="cards__filter">
            {% include 'include/filter.html' with form=filter_form %}
        </section>

        <div>
        <section class="cards">
        {% if filter %}
            {% for product in filter %}
                {% include 'include/product.html' with product=product category=category %}
            {% endfor %}
        {% else %}
                <h2 style="text-align: center;">Ничего не найдено :(</div>
        {% endif %}
        </section>

        {% include 'include/pagination.html' with products=filter %}
        </div>
    </div>
{% endblock %}
