{% extends 'base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'goods/css/product.css' %}">
    <link rel="stylesheet" href="{% static 'fotorama/fotorama.css' %}">
{% endblock %}

{% block title %}{{ category }} - {{ product.title }}{% endblock %}
{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'fotorama/fotorama.js' %}"></script>

    <div class="">
        <div>
        <section class="">
            <div class="card__product">
                {% if product.photos.all %}
                <!-- https://fotorama.io/docs/4/ -->
                    <div 
                        class="fotorama"
                        data-width="100%"
                        data-height="100%"
                        data-minheight="240"
                        data-maxheight="240"
                    >
                        {% for photo in product.photos.all %}
                            <img 
                                src="{{ photo.photo.url }}" 
                                class="card__photo" 
                                width="200" 
                                height="200" 
                                alt="..."
                            >
                        {% endfor %}                                
                    </div>
                {% else %}
                    <div class="card__nophoto">
                        <span class="visually-hidden">Нет фото</span>
                    </div>
                {% endif %}
                <div class="card__product-body">
                    {{ product.title }}
                    {{ product.title }}

                    {{ product.price }}₽

                    <!-- это если не обезательно поле  -->
                    {% if product.insulation_weight %}
                        Вес утеплителя, г/м2: {{ product.insulation_weight }}
                    {% endif %}

                    <!-- обезатьльное  -->
                    Застежка: {{ product.clasp }}

                    {% if product.reinforced_bumper %}
                        Усиленный бампер: {{ product.reinforced_bumper }}
                    {% endif %}

                    {% if product.antibacterial_impregnation %}
                        Антибактериальная пропитка: {{ product.antibacterial_impregnation }}
                    {% endif %}
                    
                    {% if product.moisture_protection %}
                        Защита от влаги: {{ product.moisture_protection }}
                    {% endif %}

                    Пол: {{ product.get_gender_display  }}
                    
                    Возрастная категория: {{ product.age_type }}

                    {% if product.sport_type %}
                        Вид спорта: {{ product.sport_type }}
                    {% endif %}

                    {% if product.season %}
                        Сезон: {{ product.get_season_display  }}
                    {% endif %}

                    {% if product.guarantee_period %}
                        Срок гарантии: {{ product.guarantee_period }}
                    {% endif %}

                    Гарантия подлинности товара: 
                    {% if product.product_authenticity_guarantee %}
                        Да
                    {% else %}
                        Нет
                    {% endif %}

                    {% if product.upper_material %}
                        Материал верха: {{ product.upper_material }}
                    {% endif %}

                    {% if product.lining_material %}
                        Материал подкладки: {{ product.lining_material }}
                    {% endif %}

                    {% if product.outsole_material %}
                        Материал подошвы: {{ product.outsole_material }}
                    {% endif %}

                    {% if product.insole_material %}
                        Материал стельки: {{ product.insole_material }}
                    {% endif %}

                    <!-- Бренд: {{ product.brand }}

                    {% if product.technologies %}
                        Технологии: {{ product.technologies }}
                    {% endif %} -->

                </div>
            </div>
        </section>
        </div>
    </div>
{% endblock %}
