<!-- главая страница сайта -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Каталог - Обувь{% endblock %}
{% block content %}
    <div>
        <section>
            <form method="get">
                <legend>Фильтр</legend>
                    {{ filterset.form.as_p }}
                <button>Показать</button>
            </form>
        </section>

        <section class="mt-3 d-flex flex-column gap-1">
            {% for obj in view.filterset.qs %}
                <div style="border: 3px solid teal; padding: 10px; border-radius: 15px;">
                    {{ obj.title }} - {{ obj.price }}₽<br />
                </div>
            {% endfor %}
        </section>
    </div>
{% endblock %}