{% extends 'base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'user/css/user.css' %}">
{% endblock %}
{% block title %}New password{% endblock %}

{% block content %}
    <div class="container d-flex justify-content-center">
        <div class="card text-center text-bg-dark border-primary border-3 mt-4 user__card" data-bs-theme="dark">
            <h2 class="card-header">
                New password
            </h2>
            <form method="post" id="changeForm">{% csrf_token %}
                <div class="card-body">
                    <div class="alert alert-danger text-start mb-2 d-none" role="alert" id="changeAlert">
                        Something went wrong.
                        Please refresh the page.
                    </div>    
                    <div class="form-floating mt-2">
                        <input 
                            type="password" 
                            name="{{ form.new_password1.name }}" 
                            class="form-control" 
                            autocomplete="new-password" 
                            id="{{ form.new_password1.name }}" 
                            data-url="{% url 'validate_passwords' %}"
                            data-errors-id="errorsNewPassword1"
                            placeholder="********"
                        >
                        <label for="{{ form.new_password1.name }}" class="col-form-label">{{ form.new_password1.label }}</label>
                    </div>
                    <div class="text-danger-emphasis d-flex mt-1 text-start" id="errorsNewPassword1"></div>

                    <div class="form-floating mt-2">
                        <input 
                            type="password" 
                            name="{{ form.new_password2.name }}" 
                            class="form-control" 
                            autocomplete="new-password" 
                            id="{{ form.new_password2.name }}" 
                            data-url="{% url 'validate_passwords' %}"
                            data-errors-id="errorsNewPassword2"
                            placeholder="********"
                        >
                        <label for="{{ form.new_password2.name }}" class="col-form-label">{{ form.new_password2.label }}</label>
                    </div>
                    <div class="text-danger-emphasis d-flex mt-1 text-start" id="errorsNewPassword2"></div>
                    
                    <div class="form-floating mt-2">
                        <input 
                            type="password" 
                            name="{{ form.old_password.name }}" 
                            class="form-control" 
                            autocomplete="new-password" 
                            id="{{ form.old_password.name }}" 
                            data-url="{% url 'validate_passwords' %}"
                            data-errors-id="errorsCurrentPassword"
                            placeholder="********"
                        >
                        <label for="{{ form.old_password.name }}" class="col-form-label">{{ form.old_password.label }}</label>
                    </div>
                    <div class="text-danger-emphasis d-flex mt-1 text-start" id="errorsCurrentPassword"></div>    
                </div>
                
                <div class="card-footer d-flex flex-column gap-2">
                    <button type="submit" class="btn btn-primary" id="changeSubmit">Change password</button>
                </div>
            </form>
        </div>
    </div>
    <script type="module" src="{% static 'user/js/password_change.js' %}"></script>
{% endblock %}
