{% autoescape off %}
    <div style="margin-left: auto; margin-right: auto; border: 1px blueviolet solid; border-radius: 10px; width: 80%; height: auto; padding: 4%; text-align: justify; max-width: 500px;">
        <h2 style="text-align: center; margin-top: 0;">SportStyle</h2>
        <hr style="border: 1px rgba(137, 43, 226, 0.466) solid;">
        <h4 style="margin-top: 0;">
            Вы получили это письмо, потому что подписались на
            <a style="text-decoration: none; color: rgb(137, 43, 226);" href="{{ domain }}">SportStyle</a>.
        </h4>
        <p style="margin: 0;">Пожалуйста, перейдите по ссылке, чтобы подтвердить свой адрес электронной почты:<br/></p>
        <div style="text-align: center">
            <a style="text-decoration: none; color: rgb(137, 43, 226);" href="{{ url }}">
                <b style="font-size: 20px;">Подтвердите почту</b>
            </a>
        </div>
        <p style="font-size: 14px; margin-bottom: 0;"><i>Если вы не указали свой адрес - просто проигнорируйте это письмо.</i></p>
    </div>
{% endautoescape %}
