body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1300px;
}

.sm__text{
    display: inline-flex;
    align-items: center;
}

.sm__block__title{
    margin-bottom: 28px
}

.sm__text__h2{
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 4px;
}

/* Нижние описание  */
.shop__layout {
    display: flex;
}

.shop__layout-1 {
    width: 720px;
    height: 480px;
}

.shop__layout-2 {
    position: relative;
    left: -120px;
    width: 500px;
    height: 300px;
}

.shop__layout-2__inner {
    margin-top: 10px;
    margin-left: 140px;
}

.catalog__products {
    gap: 10px;
    margin-bottom: 20px;
}

.carousel-inner img {
    object-fit: cover;
}

.shop__layout-2__text{
    font-size: 14px;
    line-height: 24px;
}

.col {
    font-size: 14px;

}